@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter-VariableFont_slnt,wght.ttf) format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400 800;
  font-display: optional;
  src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf) format("woff2");
}

@font-face {
  font-family: "Playfair Display Italic";
  font-style: normal;
  font-weight: 400 800;
  font-display: optional;
  src: url(/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf) format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
